<div class="container">
  <h2>Histórico do Funcionário</h2>

  <!-- Verifica se há dados para exibir -->
  <table *ngIf="historico.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Operação</th>
        <th>Data</th>
        <th>Endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of historico">
        <td>{{ item.nome }}</td>
        <td>{{ item.operacao }}</td>
        <td>{{ item.data | date : "dd/MM/yyyy HH:mm" }}</td>
        <td>{{ item.address }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Caso não haja dados -->
  <p *ngIf="historico.length === 0">
    Nenhum histórico encontrado para este funcionário.
  </p>

  <div
    *ngIf="historico.length > 0"
    id="map"
    style="height: 400px; margin-top: 20px"
  ></div>
</div>
